body {
  background: linear-gradient(lightyellow, darkblue);
  background: -moz-linear-gradient(lightyellow, darkblue);
  background: -o-linear-gradient(lightyellow, darkblue);
  background: -webkit-linear-gradient(lightyellow, darkblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding-top: 10%;
  height: 100%;
  width: 100%;
}

.board-flex-container {
  display: flex;
  flex-direction: column;
}

.tile {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}

.gray {
  background-color: gray;
}

.red {
  background-color: darkred;
}

::-webkit-input-placeholder {
  color: gray;
}

.reveal {
  background-color: white;
  color: gray;
}

.flash {
  background-color: red;
}

#game-over {
  font-size: 40px;
}

.hidden {
  display: none;
}
