body {
  background: lightblue;
}

.board-flex-container {
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
}

.tile {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}
